apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: uacqr
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: uacqr
    spec:
      containers:
      - name: uacqr
        image: wcr.io/zteuac/uacqr:$TAG
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: 4Gi
        imagePullPolicy: Always
      imagePullSecrets:
      - name: wrelease
